# Developed by Shreyash Chougule
# Email: shreyash.v.chougule1903@gmail.com
# Project: Multi-Agent AI System (MVP)

# --- Core dependencies ---
streamlit==1.51.0
groq
python-dotenv
requests
psycopg2-binary
google-generativeai
streamlit-audiorec
notion-client>=2.2.1
google-api-python-client
google-auth
pyTelegramBotAPI
st-audiorec
pandas
plotly

# --- Optional (useful libraries) ---
langchain




